{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "printWidth": 180,
  "tabWidth": 2,
  "jsxBracketSameLine": false,
  "proseWrap": "never"
}
